body {
  margin: 0;
  background-color: #4b4545;
  color:rgb(9, 12, 14);
  font-size:x-large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  align-items: center;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  
}
